@import url('setup.css');

/* =========================================
   initial layouts     
========================================= */

.banner {
    width: 300px;
    height: 250px;
    margin: 1rem auto;
    border: 1px solid #000;
}

.banner-wrapper {
    width: 275px;
    margin: 0 auto;
    background: no-repeat center center url('assets/background.png');
    background-size: cover;
}

img {
    width: 100%;
}

header,
footer,
.slide-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* legal */

.legal-popup {
    display: none;
    height: 100%;
    background-color: #fff;
}


/* header */

header {
    height: 210px;
}

.title-wrapper,
.slide-section {
    margin-top: 10px;
}

.title-wrapper {
    display: inline-flex;
    height: 100px;
    width: 115px;
    margin-left: 13px;
}

.header-text {
    /* width: 60%; */
    margin-top: -5px;
    line-height: .84;
    /* padding-right: 3px; */
}

.title-gold {
    margin-right: 5px;
}

.chevrons {
    width: 123px;
    margin-top: 5px;
}


/* header bottom  ---------------- */

.btn-legal {
    background: none;
    border: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 0px 0px;
    letter-spacing: 1px;
}

header p {
    position: absolute;
    margin-right: 10px;
    bottom: 0px;
    right: 0;
}


/* end of header bottom  --------------- */


/* slide  -------------------------- */

.slide {
    background-color: #002c5f;
    width: 150px;
    /* height: 90px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide-1 {
    position: absolute;
    right: -12px;
}


/* footer */

footer {
    /* height: 40px; */
    background-color: #fff;
}

.footer-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
    padding: 10px 0 8px 0;
}

footer button {
    background-color: #002c5f;
    border: none;
    /* width: 114px; */
    /* height: 20px; */
    /* margin-bottom: 2px; */
    padding: 3px 15px 3px 10px;
}

.logo {
    height: 14px;
    width: 115px;
}


/* typography --------------------------------------------------------- */

h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.title-small {
    font-size: 7px;
    color: #192c5e;
}

.title-gold {
    font-size: 13px;
    color: #e7983e;
}

.title-large {
    font-size: 26px;
    color: #192c5e;
}

.title-normal {
    font-size: 11px;
}

h2 span {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fff;
    display: flex;
}

.btn-legal,
header p {
    color: #ffffff;
    text-shadow: 0.5px 0.5px 0.5px grey;
}

.btn-legal {
    font-size: 10px;
}

header P {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}

footer button {
    font-size: 11px;
    color: #fff;
}